
.paragrafo3 {
    display: flex;
    justify-content: center;
    padding: 35px;
    flex-direction: column;
    height: 100vh;
}

.containerContentParagrafo3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.h1text3 {
    font-size: 1.5rem;
    color: #FF760F;
    display: flex;
    flex-direction: column;
    
}

.h1text3sub {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #fff;
 
}

.contentTextParagrafo3 {
    color: #fff;
    width: 650px;
    margin-bottom: 35px;
}





.containerImgHack:hover {
    border: 5px solid rgb(107, 235, 107);
    animation: slideOn 1000ms ease-in-out;
}

.imagemHackathon {
    height: 100%;
    width: 100%;
}

/* Definindo as animações keyframes para o efeito suave */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideOn {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}
.paragrafoAnimado {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.paragrafoAnimado.ativo {
    opacity: 1;
    transform: translateY(0);
}

.containerImgHack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    overflow: hidden;
    height: 350px;
    width: 550px;
    border: #FF760F 5px solid;
    border-radius: 15px;
    transition: opacity 500ms ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateX(50%);
}

.containerImgHackAtivo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    overflow: hidden;
    height: 350px;
    width: 550px;
    border: #FF760F 5px solid;
    border-radius: 15px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}
@media (max-width:1000px) {
    .paragrafo3{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .containerContentParagrafo3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
      margin: 0 auto;
    
    }
}