.containerContentParagrafo3 {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .h1text3 {
    display: flex;
    flex-direction: column;
    color: #FF760F;
    font-size: 25pt;
    margin-bottom: 25px;
    position: relative;
  }
  
  .h1text3::after {
    position: absolute;
    background-color: #FF760F;
    content: " ";
    width: 200px;
    height: 5px;
    bottom: -10px;
    left: 0px;
  }
  
  .contentTextParagrafo3 {
    width: 800px;
    color: #fff;
    font-size: 20pt;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .paragrafoAnimadoAtivo {
      opacity: 1;
    }
    
    .paragrafoAnimadoDesativo {
      opacity: 0;
  }
  
  .containerImgHack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    overflow: hidden;
    height: 350px;
    width: 550px;
    border: #FF760F 5px solid;
    border-radius: 15px;
    transition: opacity 500ms ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateX(50%);
  }
  
  .containerImgHackAtivo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    overflow: hidden;
    height: 350px;
    width: 550px;
    border: #FF760F 5px solid;
    border-radius: 15px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Responsividade */
  @media (max-width: 1430px) {
    .containerContentParagrafo3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }
  
    .containerImgHackAtivo,
    .containerImgHack {
      margin-top: 30px;
    }
  }
  
  @media (max-width: 900px) {
    .contentTextParagrafo3 {
      width: 100%;
    }
  
    .containerImgHackAtivo,
    .containerImgHack {
      width: 400px;
    }
  }
  
  @media (max-width: 550px) {
    .contentTextParagrafo3,
    .paragrafoAnimadoAtivo,
    .paragrafoAnimadoDesativo {
      font-size: 15pt;
    }
  }
  
  @media (max-width: 450px) {
    .containerImgHackAtivo,
    .containerImgHack {
      width: 300px;
    }
  }
  