
.paragrafo1 {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    height: 100vh;
    flex-wrap: wrap;
}

.titleMain {
    display: flex;
    color: #FF760F;
    font-size:2rem;
    position: relative;

}
.titleMain::after{
    bottom:-7px ;
    position: absolute;
    content: " ";
    height: 5px;
    width: 200px;
    background-color: #FF760F;
}

.lastName,
.textBoasVindas {
    color: #fff;
}

.textBoasVindas {
    width: 700px;
  font-size: 1.3rem;
    padding: 0px 35px;
}

.containerImg {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 200px;
    width: 20px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: #FF760F 3px solid;
    margin-right: 50px;
    transition: transform 500ms ease, border 500ms ease;
}

.imgAzul {
    height: 450px;
}

.containerImg:hover {
    border: rgb(107, 235, 107) 3px solid;
    transform: scale(1.1);
}

.subParagrafo {
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 1000px) {
    .paragrafo1, .subParagrafo, .textBoasVindas {
     text-align: text;
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .containerImg{
        margin-top: 50px;
    }

    .textBoasVindas {
        font-size: 1.5rem;
    }
    .titleMain{
        align-self: center;
    }
}

.containerBtnHome {
    display: flex;
    padding: 0 35px;
    gap: 25px;
}

.BaixarCV, .MeusProjetos {
    transition: 0.3s;
    width: 150px;
    border: none;
    border-radius: 15px;
    padding: 15px 35px;
    color: #fff;
}

.BaixarCV {
    background-color: #FF760F;
}

.BaixarCV:hover {
    transform: scale(1.09);
    background-color: #f8ae75;
}

.MeusProjetos {
    background-color: #5a5552;
}

.MeusProjetos:hover {
    transform: scale(1.09);
    background-color: #3b3835;
}
