.paragrafo2 {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .contentParagrafo2 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .containerImgParagrafo2 {
    height: 250px;
    width: 250px;
    min-width: 250px;
    overflow: hidden;
    border-radius: 0 0 50%;
    display: flex;
    border: 3px solid #FF760F;
    align-items: start;
  }
  
  .blusaAmarela {
    height: 400px;
  }
  
  .titleParagrafo2 {
    display: flex;
    font-size: 25pt;
    color: #FF760F;
    margin-bottom: 15px;
  }
  
  .textParagrafo2 {
    position: relative;
    color: #fff;
    width: 700px;
    padding: 25px;
    font-size: 20pt;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .paragrafoAnimadoAtivo {
    opacity: 1;
  }
  
  .paragrafoAnimadoDesativo {
    opacity: 0;
  }
  
  .titleParagrafo2::after {
    position: absolute;
    content: " ";
    top: 105px;
    height: 5px;
    width: 150px;
    background-color: #FF760F;
  }
  
  /* Responsividade */
  @media (max-width: 1250px) {
    .textParagrafo2 {
      width: 500px;
      text-align: start;
    }
  }
  
  @media (max-width: 900px) {
    .contentParagrafo2 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .textParagrafo2 {
      width: 90%;
    }
  }
  
  @media (max-width: 560px) {
    .textParagrafo2 {
      font-size: 15pt;
    }
  }
  