:root{
  --background:#212121;
  --color:#FF760F;
}
*{
  margin: 0 ;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background);
  text-decoration:  none;
  scrollbar-width: thin; /* Largura da barra: auto, thin, ou largura específica */
  scrollbar-color: #FF760F #f4f4f4; /* thumb (primeira cor) e trilha (segunda cor) */
  

}
