.main {
    margin-top: 60px;
    background-color: var(--background);
}

.paragrafo1::after,
.paragrafo2::after,
.paragrafo3::after 
.paragrafo4::after {
    content: " ";
    height: 0.5px;
    width: 100%;
    box-shadow: 1px 1px 15px #FF760F;
    background: #FF760F;
    margin-top: 25px;
}



